body {
  min-height: 75vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  justify-content: center;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20%;
}

.centeredContainer {
  margin-top: 20%; /* Adjust margin-top as needed using percentage */
  margin-bottom: 20%; /* Adjust margin-bottom as needed using percentage */
  width: 90%; /* Adjust width as needed using percentage */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #f0f0f0;
}

.centeredButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 1% 2%; /* Adjust padding as needed using percentage */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.centeredButton:hover {
  background: linear-gradient(45deg, #0056b3, #007bff);
}

button {
  color: #fff;
  padding: 1% 2%; /* Adjust padding as needed using percentage */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  justify-content: center;
}

.timer {
  margin-top: 40%;
}

.centeredTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 2%; /* Adjust padding as needed using percentage */
}

.timerOutput {
  font-size: 2vw; /* Adjust font size as needed using vw (viewport width) unit */
  margin-bottom: 1%; /* Adjust margin as needed using percentage */
  color: #fff;
  background: linear-gradient(45deg, #3498db, #e74c3c);
  padding: 1.5%; /* Adjust padding as needed using percentage */
  border-radius: 1vw; /* Adjust border-radius as needed using vw unit */
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5); /* Adjust text-shadow using vw unit */
  transition: background 0.3s, color 0.3s;
}

.timerOutput:hover {
  background: linear-gradient(45deg, #2ecc71, #e67e22);
}

.centeredInput {
  padding: 1%; /* Adjust padding as needed using percentage */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 1vw rgba(0, 123, 255, 0.4); /* Adjust box-shadow using vw unit */
}

.navbar-button-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust margin as needed */
}

.navbar-button {
  width: 100px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  padding: 10px; /* Adjust padding as needed */
  background-color: #4d4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; /* Adjust font size as needed */
  transition: background-color 0.3s;
}


.navbar-button:hover {
  background-color: #555;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown.visible {
  display: block;
}

.dropdown button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown button:hover {
  background-color: #555;
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
  padding: 20px;
  text-align: center;
}